<div class="mt4">
    <form method="GET">
        <div class="form-group">
            <label for="search-input">Tu khoa</label>
            <input type="text" name='q' class="form-control" id="search-input" placeholder="search">
        </div>

        <button type="submit" class="btn btn-primary mt-4">Tim kiem</button>
    </form>
</div>